/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

h1 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  padding: 20px;
}

h3 {
  text-align: center;
  padding: 20px;
}

.background-gray {
  background: #ebede7;
  padding-bottom: 1px;
}

footer {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cart {
  background: #fff;
  margin: 20px;
  font-size: 20px;
  line-height: 1.2;
}

footer a {
  font-size: 16px;
}

.red {
  border-radius: 10px;
  font-family: libre Franklin;
  background: red;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  margin: 20px 100px 20px 100px;
}

p {
  text-align: center;
}

.start {
  text-align: start;
  font-size: 20px;
  margin: 10px;
  line-height: 1.2;
}
 
hr {
  border-bottom: #000 2px solid;
  margin: 10px;
}

.card-p {
  background: #fff;
  padding: 20px;
}

.background-white {
  padding: 10px;
}